# VS Code
.vscode/

# PlatformIO
.pio/

# macOS
.DS_Store

# Firmware binaries
*.elf
*.hex

# Build artifacts
/build/
/firmware/

# Other
*.spiffs.bin
captures/
*.log
**/secrets.h
include/catppuccin_colors.h
**/.env
scripts/data/

node_modules/
package-lock.json
package.json

opencode.json
test.sh