# VS Code
.vscode/

# PlatformIO
.pio/

# macOS
.DS_Store

# Firmware binaries
*.elf
*.hex

# Build artifacts
/build/
/firmware/

# Other
*.spiffs.bin
captures/
*.log
**/secrets.h
**/.env
scripts/data/
