#pragma once

// WiFi Credentials
#define WIFI_SSID "YourWiFiNetworkName"
#define WIFI_PASSWORD "YourWiFiPassword"

#define WIFI_AP_SSID "DeviceWiFiNetworkName"
#define WIFI_AP_PASSWORD "DeviceWiFiPassword"

#define FTP_USER "user"
#define FTP_PASSWORD "password"
