#pragma once

// --- WiFi Credentials ---
// Not currently used.
#define WIFI_SSID "YourWiFiNetworkName"
#define WIFI_PASSWORD "YourWiFiPassword"

// --- AP Mode ---
// #define WIFI_AP_SSID "AutoConnectAP-FrameFi"
// #define WIFI_AP_PASSWORD "password"

// --- Web Server ---
// #define WEB_SERVER_USER "admin"
// #define WEB_SERVER_PASSWORD "password"

// --- FTP Mode ---
// #define FTP_USER "user"
// #define FTP_PASSWORD "password"

// --- MQTT ---
// #define MQTT_CLIENT_ID "FrameFi" // Must be unique on the MQTT network
// #define MQTT_HOST "192.168.1.100"
// #define MQTT_PORT 1883
// #define MQTT_USER "user"
// #define MQTT_PASSWORD "password"