#pragma once

// WiFi Credentials
#define WIFI_SSID "YourWiFiNetworkName"
#define WIFI_PASSWORD "YourWiFiPassword"

#define WIFI_AP_SSID "AutoConnectAP-T-Dongle"
#define WIFI_AP_PASSWORD "password"

#define FTP_USER "user"
#define FTP_PASSWORD "password"
